In [13]:
num = 1234
reversed_str = str(num)[::-1]
int(reversed_str)

4321

In [15]:
num ='devika'
reversed_str = num[::-1]
reversed_str

'akived'

In [4]:
num =1,2,3,2,3,4
set(num)

{1, 2, 3, 4}

In [24]:
num= [1,2,3,4]
rev =num[::-1]
rev

[4, 3, 2, 1]

In [15]:
n = int(input("please give a number : "))
temp=0,
for i in range(2,n//2):
    if n%i == 0:
        temp=1
        break
        
if temp == 1:
    print("given number is not prime")
else:
    print("given number is prime")

please give a number : 101
given number is prime

In [16]:
num = 101

flag = False

if num <= 1:
    print("number is not a prime nos")
elif num >1:
    for i in range(2,num):
        if num % i==0:
            flag = True
            break;
            
    if flag:
        print("number is not a prime no:")
    else:
        print("number is prime no:")

number is prime no:

In [18]:
a = 1*1*1+5*5*5+3*3*3 
print(a)

153

In [40]:
num = 9474

if num<=9:
    print("number is armstrong number")
else:
    order = len(str(num))
    sum = 0 
    original = num
    while num>0:
        digit = num % 10
        sum += digit ** order
        num = num//10
    
    if sum == original:    
        print("number is armstrong number")
    else:
        print("number is not armstrong number")

number is armstrong number

In [43]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n * factorial(n-1)
    
factorial(5)

120

In [11]:
str = 'mom'
rev = str[::-1]
if str == rev:
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [21]:
#011235
num = 5
f1=0
f2=1
f = [f1,f2]
for i in range(2,num):
    f3 = f1+f2
    f.append(f3)
    f1 = f2
    f2 = f3
print(f)

[0, 1, 1, 2, 3]

In [20]:
num = 5
f1 = 0
f2 = 1
f = [f1, f2]  # Initialize the list with the first two Fibonacci numbers

for i in range(2, num):
    f3 = f1 + f2
    f.append(f3)
    f1 = f2
    f2 = f3

print(f)

[0, 1, 1, 2, 3]

In [28]:
lt = [1,2,3,3,4,5]
set_lt = set(lt)
del_max = max(set_lt)
set_lt.remove(del_max)
max(set_lt)

4